<!DOCTYPE html>
{% load crispy_forms_tags %}
<html>
<head>
	<title>Login - Regulação de Casos Covid19</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

	<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card  auth-card">
            <div class="card-body">
                <h4 class="card-title text-center">Entrar no Regulação de casos covid19</h4>
        
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
        
                    {{ form|crispy }}

                    <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                </form>

                <p class="change-form-p"><a href="/change_password/"></a></p>
            </div>
        </div>
    </div>
</div>

</body>
</html>