<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

<style>

.singleinfos {
    background: white;
    padding: 10px;
    border-radius: 8px;
    margin: 15px 0;
}
.container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.singleinfos .singleinfostabs {
    margin-bottom: 20px;
  width: 100%;
}
.singleinfos .singleinfostabs > ul {
     overflow-x: auto;
   overflow-y:hidden;
   flex-wrap: nowrap;
    margin-bottom: 14px;
}
.singleinfos .singleinfostabs > ul > li {
    background: white;
    background: #869daf;
    border-radius: 3px;
    padding: 12px 0;

    margin-left: 10px;
    margin-right: 0;
    margin-bottom: 20px;
}
.singleinfos .singleinfostabs .nav-pills > li > a {
    font-size: 13px;
    border-radius: 4px;
    padding: 4px 10px;
    text-align: center;
    background: transparent;
    color: white !important;
  white-space: nowrap !important;
}
</style>

</head>
<body>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

<div class="singleinfos">
  <div class="row container-fluid ">
    <div class="singleinfostabs">
      <ul class="nav nav-pills">
        <li class="active"><a data-toggle="pill" class="moretab" href="#cootab11">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab12">testekjnbjknbjknk</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab13">testenkjnkjnknkjn</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab12">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab13">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab12">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab13">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab12">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab13">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab12">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab13">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab12">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab13">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab12">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab13">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab12">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab13">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab12">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab13">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab12">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab13">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab12">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab13">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab12">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab13">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab12">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab13">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab12">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab13">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab12">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab13">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab12">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab13">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab12">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab13">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab12">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab13">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab12">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab13">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab12">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab13">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab12">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab13">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab12">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab13">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab12">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab13">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab12">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab13">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab12">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab13">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab12">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab13">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab12">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab13">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab12">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab13">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab12">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab13">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab12">teste</a></li>
        <li><a data-toggle="pill" class="moretab" href="#cootab13">teste</a></li>
        
      </ul>
    </div>
    <div class="tab-content">
      <div id="cootab11" class="tab-pane fade"> Text One </div>
      <div id="cootab12" class="tab-pane fade"> Text Two </div>
      <div id="cootab13" class="tab-pane fade"> Text Three </div>
    </div>
  </div>
</div>
  
</body>
</html>