{% load static %}
{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
	<title>Status de Registro - Casos COVID19</title>
	<link rel="stylesheet" href="">

	<script language="JavaScript" type="text/javascript" src="/static/js/cidades-estados-1.4-utf8.js"></script>

	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

	<style>
		#status_regulacao_id,
		#paciente_regulado_id,
		#paciente_lista_id,
		#paciente_internado_id,
		#paciente_obito_id,
		#paciente_nao_regulado_id,
		#paciente_regulado_id,
		#paciente_obito_regulacao_id,
		#paciente_lista_regulacao_id,
		#paciente_internado_regulacao_id,
		#ag_conf_vaga_regulacao_id,
		#justif_cancelar_regulacao_id {
		display: none;
	}
	</style>

	<script>
		function exibirJustCanc(){
			$("#justif_cancelar_regulacao_id").show();
		}
	</script>

</head>
<body>

	<div class="container" style="border: 2px solid #cccccc; border-radius: 10px">
		<div class="jumbotron">
			<h1>SES COVID - Registro - Casos COVID19</h1>
			<p></p>
		</div>

		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		  <ul class="navbar-nav">
		    <li class="nav-item">
		      <a class="nav-link" href="/">Home</a>
		    </li>
		    <li class="nav-item">
		      <a class="nav-link" href="/covid_list/">Principal</a>
		    </li>
		    <li class="nav-item">
		      <a class="nav-link" href="/search_estabelecimento/">Registrar Caso</a>
		    </li>
		    <!--<li class="nav-item">
		      <a class="nav-link" href="/regulacao_edit/{{registro.id}}/">Registro/Edição</a>
		    </li>-->
		    <li class="nav-item">
		      <a class="nav-link" href="#"></a>
		    </li>
		    <li class="nav-item">
		      <a class="nav-link" href="/search_register/">Localizar</a>
		    </li>
		    <li class="nav-item">
		      <a class="nav-link" href="/gerar_relatorios/">Relatórios</a>
		    </li>
		    <li>
		    	<a class="nav-link" href="/accounts/logout">Sair</a>
		    </li>
		  </ul>
		</nav><br>
		
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-4" style="background-color:;">
					<div style="position: relative; left: 0; top: 20%; width: 100%; text-align: center;">
						<img src="https://docs.google.com/uc?id=1g14C98IyGkVYPNNkoLk20rGYVikptzcC" alt="" style=" background-color: ;width: 70%">
					</div>
				</div>

	      		<div class="col-sm-4" style="">
	      			<div class="col" style="text-align: center;">
	      				<p>GOVERNO DO ESTADO DA PARAÍBA</p>
	      				<p>SECRETARIA DE ESTADO DA SAÚDE</p>
	      				<p></p>
	      				<p><h7><b>Registro de Casos - Perfil {{user.first_name}} - Usuário: <i>{{user}}</i></b></h7></p>
	      			</div>
	      		</div>
	      		<div class="col-sm-4" style="background-color:;">
	      			<div style="position: relative; left: 0; top: 30%; width: 100%; text-align: center;">
	      				<img src="https://docs.google.com/uc?id=11gNpuLZuHBRHHiSFZxcSp5CGlJla1PEw" alt="" style="background-color: ;width: 70%">
	      			</div>
	      		</div>
	      	</div>
	    <br>
		</div>
		

		<div class="row">
			<div class="col-sm-5"></div>
			<div class="col-sm-5"></div>
			<div class="col-sm-2">
				{% if user.is_staff %}
				<!--
				<button type="button" class="btn btn-outline-danger btn-sm" style="align-items: center;" id="btn_inicio"><a class="" href="/remove_registro_covid/{{registro.id}}/">Escluir Registro</a></button>
			-->
				{%endif%}
			</div>
		</div>
		<hr />
		<br />

		<div class="row">
			<div class="col-sm-4"></div>
			<div class="col-sm-4"><b class="">Status do paciente {{registro.nome_paciente}}:</b></div>
			<div class="col-sm-4">
				{% if user.first_name != 'enfermeiro' %}
				<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal">Parecer Médico
				</button>
				{%endif%}
				{% if registro.andamento_processo != '' %}
				{%else%}
				<button type="button" class="btn btn-warning btn-sm" onclick="exibirJustCanc()">Cancelar processo!</button>
				{%endif%}
			</div>
		</div><br />

				<!-- The Modal -->
		  <div class="modal fade" id="myModal">
		    <div class="modal-dialog">
		      <div class="modal-content">
		      
		        <!-- Modal Header -->
		        <div class="modal-header">
		          <h4 class="modal-title">Informações do Parecer:</h4>
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		        </div>
		        
		        <!-- Modal body -->
		        <div class="modal-body">
		          <textarea name="" id="" cols="50" rows="10">
		          {% if registro.parecer_medico == '' or registro.parecer_medico == None %}
		          {%else%}
		          {{registro.parecer_medico}}
		          {%endif%}
		      	</textarea>
		        </div>
		        
		        <!-- Modal footer -->
		        <div class="modal-footer">
		          <button type="button" class="btn btn-danger" data-dismiss="modal">Sair</button>
		        </div>
		        
		      </div>
		    </div>
		  </div>

			<div class="row">
				<div class="col-sm-4"></div>
				{% if 'Aguardando confirmação de Vaga' in status_aguard_conf_vaga_registro.descricao %}
				<div id="" class="col-sm-4" style="background-color: #ffd6cc; font-size: 70%; border: 2px solid #cccccc; border-radius: 10px">
					<b><i>Aguardando Confirmação de Vaga! - {{status_aguard_conf_vaga_registro.data_notificacao}} - {{status_aguard_conf_vaga_registro.hora_notificacao|time:"H:i"}}</i></b>
				</div>
				{%else%}
				<div id="paciente_regulado_id" class="col-sm-4" style="background-color: #ffd6cc; font-size: 70%; border: 2px solid #cccccc; border-radius: 10px">
					<b><i>Aguardando Confirmação de Vaga!</i></b>
				</div>
				{%endif%}
				<div class="col-sm-4"></div>
			</div>

			<div class="row">
				<div class="col-sm-4"></div>
				{% if 'Aguardando em Lista de Espera' in status_aguard_lista_espera_registro.descricao %}
				<div id="" class="col-sm-4" style="background-color: #ffcc99; font-size: 70%; border: 2px solid #cccccc; border-radius: 10px">
					<b><i>Paciente em Lista de espera! - {{status_aguard_lista_espera_registro.data_notificacao}} - {{status_aguard_lista_espera_registro.hora_notificacao|time:"H:i"}}</i></b>
				</div>
				{%else%}
				<div id="paciente_lista_regulacao_id" class="col-sm-4" style="background-color: #ffcc99; font-size: 70%; border: 2px solid #cccccc; border-radius: 10px">
					<b><i>Paciente em Lista de espera!</i></b>
				</div>
				{%endif%}
				<div class="col-sm-4"></div>
			</div>

			<div class="row">
				<div class="col-sm-4"></div>
				{% if 'Regulado' in status_regulado_registro.descricao %}
				<div id="" class="col-sm-4" style="background-color: #b3e6b3; font-size: 70%; border: 2px solid #cccccc; border-radius: 10px">
					<b><i>Paciente Regulado! - {{status_regulado_registro.data_notificacao}} - {{status_regulado_registro.hora_notificacao|time:"H:i"}}</i></b>
				</div>
				{%else%}
				<div id="paciente_obito_regulacao_id" class="col-sm-4" style="background-color: #c6c6c6; font-size: 70%; border: 2px solid #cccccc; border-radius: 10px">
					<b><i>Paciente Regulado!</i></b>
				</div>
				{%endif%}
				<div class="col-sm-4"></div>
			</div>

			<div class="row">
				<div class="col-sm-4"></div>
				{% if 'Não Preenche Critérios' in status_nao_regulado_registro.descricao %}
				<div id="" class="col-sm-4" style="background-color: #c6c6c6; font-size: 70%; border: 2px solid #cccccc; border-radius: 10px">
					<b><i>Não Preenche Critérios! - {{status_nao_regulado_registro.data_notificacao}} - {{status_nao_regulado_registro.hora_notificacao|time:"H:i"}}</i></b>
				</div>
				{%else%}
				<div id="paciente_internado_regulacao_id" class="col-sm-4" style="background-color: #b3e6b3; font-size: 70%; border: 2px solid #cccccc; border-radius: 10px">
					<b><i>Não Preenche Critérios!</i></b>
				</div>
				{%endif%}
				<div class="col-sm-4"></div>
			</div>
			
			<div class="row">
				<div class="col-sm-4"></div>
				{% if 'Aguardando Informações' in status_aguard_inf_registro.descricao %}
				<div id="" class="col-sm-4" style="background-color: #ffb366; font-size: 70%; border: 2px solid #cccccc; border-radius: 10px">
					<b><i>Aguardando Informações! - {{status_aguard_inf_registro.data_notificacao}} - {{status_aguard_inf_registro.hora_notificacao|time:"H:i"}}</i></b>
				</div>
				{%else%}
				<div id="paciente_internado_regulacao_id" class="col-sm-4" style="background-color: #8cb3d9; font-size: 70%; border: 2px solid #cccccc; border-radius: 10px">
					<b><i>Aguardando Informações!</i></b>
				</div>
				{%endif%}
				<div class="col-sm-4"></div>
			</div>
			<div class="row">
				<div class="col-sm-4"></div>
				{% if 'Obito' in status_obito_registro.descricao %}
				<div id="" class="col-sm-4" style="background-color: #ff8080; font-size: 70%; border: 2px solid #cccccc; border-radius: 10px">
					<b><i>Óbito! - {{status_obito_registro.data_notificacao}} - {{status_obito_registro.hora_notificacao|time:"H:i"}}</i></b>
				</div>
				{%else%}
				<div id="paciente_internado_regulacao_id" class="col-sm-4" style="background-color: #ff8080; font-size: 70%; border: 2px solid #cccccc; border-radius: 10px">
					<b><i>Óbito!</i></b>
				</div>
				{%endif%}
				<div class="col-sm-4"></div>
			</div>
			<br />
			<div class="row">
				<div class="col-sm-4"></div>
					{% if registro.andamento_processo == 'Cancelado' %}
					<div id="" class="col-sm-4" style="background-color: red; font-size: 80%; border: 2px solid #cccccc; border-radius: 10px">
					<b><i>Processo cancelado!</i></b>
					</div>
					{%else%}
					<div class="col-sm-4"></div>
					{%endif%}
				
				<div class="col-sm-4"></div>
			</div>
			<div class="row">
				<div class="col-sm-4"></div>
				
				{% if registro.andamento_processo != '' %}
				<div class="col-sm-4" id="">
					<form action="submit" method="POST">{% csrf_token %}
						
							<label for="comment"style="">Justificativa:</label>
							
							<textarea class="form-control" rows="8" id="just_cancelar_id" name="justif_cancelar_regulacao" value="" style="width: 100%" disabled>{{registro.justificativa_cancelamento}}</textarea>
							<br />

							<div class="form-check-inline" style=""><b>Data:</b>
					    	<input type="text" class="form-control form-control-sm" id="data_exames_lab_id" placeholder="" name="" value="{{registro.data_cancelamento}} - {{registro.hora_cancelamento|time:'H:i'}}" style="width: 140px" disabled>						
					   		</div><br />
							
							<div class="invalid-feedback"></div>
		      			
		      			<br />

		      			<!--
		      			<div class="container-fluid" style="text-align: center;">
							<button type="submit" class="btn btn-primary btn-sm" style="align-items: center;" id="">Salvar</button>  
					    </div>
					-->
					</form>
					
				</div>
				{%else%}
				<div class="col-sm-4" id="justif_cancelar_regulacao_id">
					<form action="submit" method="POST">{% csrf_token %}
						
							<label for="comment"style="">Justificativa:</label>
							
							<textarea class="form-control" rows="8" id="just_cancelar_id" name="justif_cancelar_regulacao" value="" style="width: 100%"></textarea>
							<br />

							<div class="form-check-inline" style=""><b>Data:</b>
					    	<input type="text" class="form-control form-control-sm" id="data_exames_lab_id" placeholder="" name="" value="{{formateDate}} - {{hora}}" style="width: 140px" disabled>						
					   		</div><br />
							
							<div class="invalid-feedback"></div>
		      			
		      			<br />

		      			<div class="container-fluid" style="text-align: center;">
							<button type="submit" class="btn btn-primary btn-sm" style="align-items: center;" id="">Salvar</button>  
					    </div>
					</form>
					
				</div>
				{%endif%}
				<div class="col-sm-4"></div>
			</div>

			<br /><br />

	<div class="container mt-3">
		<div class="container-fluid" style="text-align: center;">
			<button type="button" class="" style="align-items: center;" id="btn_inicio"><a class="" href="/covid_list/">Principal</a></button>
			{% if registro.andamento_processo != '' %}
			{%else%}<button type="button" class="" style="align-items: center;" id="btn_inicio"><a class="" href="/regular_registro/{{registro.id}}/">Histórico de Regulações</a></button>
			{%endif%}
			
		</div>
		<br />
		
	</div>


<!--
	<table class="table table-hover" style="font-size: 60%">
    <thead>
      <tr>
      	<th>Protocolo</th>
      	<th>Registro CERN</th>
      	<th>Nome</th>
        <th>Idade</th>
        <th>Sexo</th>
        <th>Status</th>
        <th>Município de Residencia</th>
        <th>Estabelecimento de Origem</th>
        <th>Estabelecimento Referencia Covid</th>
        <th>Município do Estabelecimento</th>
        <th>Perfil</th>
        <th>Data</th>
        <th>Comorbidades</th>
        <th>Nível de Atenção</th>
        <th>Tipo de Teste</th>
        <th>Teste Covid</th>
      </tr>
    </thead>
    <tbody>
    	{% for o in regs %}
      <tr>
        <td>{{o.data_notificacao|date:'d/m/Y'}} - {{o.hora_notificacao|time:'H:i'}}</td>
        <td>
        	{% if o.estabelecimento_solicitante == '' or o.estabelecimento_solicitante == None %}
        	<a href="#">{{o.estabelecimento_outro}}</a>
        	{%else%}
        	<a href="#">{{o.estabelecimento_solicitante}}</a>
        	{%endif%}
        </td>
        <td>{{o.nome_paciente}}</td>
        <td>
        	{% if o.idade_paciente == '' or o.idade_paciente == None %}
        	{%else%}
        	{{o.idade_paciente}}
        	{%endif%}
        </td>
        <td style="font-size: 87%">
        	<a href="/regulacao_edit/{{o.id}}">Editar</a>
        	
        	<a href="/regulacao/{{o.id}}/">Regular</a>
        	<a href="/regulacao_detail/{{o.id}}/">Ver</a>
        	
        </td>
      </tr>
      	{% endfor %}
      
    </tbody>
  </table>
-->
  <div style="height: 50px"></div>

		
	</div><br />

	
	<div style="background-color: #e6e6e6;">
		
			<br /><br />
		
	</div>
	
</body>
</html>